# Directories
matrix/
old/
out/
eigen_test/test/
slides/

# Objects
*.o

# Executables
eigen
quad/pi-quad-prec
scocg/sequential/scocg
*.out
job*.sh*
bin/
src/elses
src/elses-xml-selftest

# Data
*.dat
*.mat
*.3
*.54

# Archives
*.tar
*.gz
*.zip
*.a

# Intermediate
*.lst
perf.data

# Input Data
sample/
tool/band/samples/

# Document
src/HTML/
*.doc

# Backup
*.old
*.bak

# Link
Makefile.inc

# Misc
tool/experimental/.*
tool/experimental/set_group_id/.*
xmlf90-1.2g-elses/macros/lib/stddjdm6
Makefile.in
*.mod
*.log
*.pdf
*\#*
*~