# Directories
matrix/
old/
out/
eigen_test/test/
slides/

# Objects
*.o

# Executables
eigen_test/bin/eigen
quad/pi-quad-prec
scocg/sequential/scocg
*.out
job*.sh

# Data
*.dat
*.mat
*.3
*.54

# Archives
*.tar
*.gz
*.zip

# Misc
Makefile.in
*.mod
*.log
*.pdf
*\#*
*~
