<?xml version="1.0" encoding="UTF-8"?>
<config name="optimized">

<system>
  <cluster structure="molecule.xml" />
  <boundary x="nonperiodic" y="nonperiodic" z="nonperiodic"/>
  <temperature unit="kelvin"> 300.15 </temperature>
  <element  name="H" model="geno" filename="H.xml"/>
  <element  name="C" model="geno" filename="C.xml"/>
  <element  name="N" model="geno" filename="N.xml"/>
  <element  name="O" model="geno" filename="O.xml"/>
  <element  name="F" model="geno" filename="F.xml"/>
  <element  name="S" model="geno" filename="S.xml"/>
  <element  name="P" model="geno" filename="P.xml"/>
</system>

<calc mode="optimization">
  <genoOption>
    <CSC_method> ELSTNER </CSC_method>
    <CSC_max_loop_count> 0 </CSC_max_loop_count>
    <CSC_charge_convergence>  1d-6 </CSC_charge_convergence>
    <CSC_charge_mixing_ratio> 0.1 </CSC_charge_mixing_ratio>
    <CSC_mode_for_tuning_mixing_ratio> 1 </CSC_mode_for_tuning_mixing_ratio>
    <!-- <HML_small_delta> 0.13 </HML_small_delta> -->
    <!-- <HML_kappa> 0.75 </HML_kappa> -->
  </genoOption>
  <optimization>
    <sd_ratio> 0.5 </sd_ratio>
    <max_num_iter> 0 </max_num_iter>
  </optimization>
</calc>

<output>
  <wavefunction filename="output_wavefunction.txt" />
</output>

</config>
